@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--font);
}

:root {
    /* --font: "Alumni Sans SC", sans-serif; */
    --font: "Bebas Neue", sans-serif;
    --bg-primary: rgb(54, 54, 196);
    --clr-black: #111111;
    --clr-grey: #888888;
    --clr-grey2: #d3d3d3;
}

html {
    scroll-behavior: smooth;
}

/* Seccion Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-black);
    padding: 2rem;
}

header .box {
    display: flex;
}

.cart-mobile {
    margin-right: 2rem;
    position: relative;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul li a,
.cart-mobile {
    color: rgb(240, 240, 240);
    font-size: 1.4rem;
    font-weight: 300;
}

header nav ul li a:hover {
    transition: .2s ease-in;
    color: #d3d3d3;
}

.cart-mobile:hover {
    transition: .2s ease-in;
    color: #d3d3d3;
}

.logo-page {
    width: 100px;
}

/* Seccion Inicio de sesion */

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 86vh;
}

.conteiner form {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    border-radius: .8rem;
    border: 1px solid var(--clr-grey);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.37);
}

.conteiner .m-input {
    margin-top: 1rem;
}


.flex-img {
    display: flex;
    justify-content: end;
}

.img-form {
    background-image: url(./images/logo-transparent.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    width: 5rem;
}


.conteiner form label {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.conteiner form input {
    width: 440px;
    padding: .5rem;
    border: 1px solid var(--clr-grey);
    border-radius: .4rem;
    outline: none;
    background-color: rgba(54, 54, 196, 0.096);
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: .4rem;
}

.btn {
    background-color: var(--bg-primary);
    width: max-content;
    color: white;
    padding: .6rem 2rem;
    border-radius: .6rem;
    border: 1px solid transparent;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
}

.btn:hover {
    border: 1px solid var(--bg-primary);
    transition: .4s ease-in-out;
    /* background-color: rgba(54, 54, 196, 0.096); */
    background-color: var(--clr-black);
    color: white;
}

.m-form {
    margin-top: 2rem;
    margin-bottom: .8rem;
}

.flex {
    display: flex;
    align-items: center;
    gap: .4rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.a-form {
    text-decoration: underline;
    font-size: .950rem;
    letter-spacing: 1px;
    color: var(--clr-grey);
}

.a-form:hover {
    color: var(--clr-black);
    transition: .4s;
}




/* Seccion Main */

/* .conteiner-main{

} */

.nav-mobile {
    display: none;
}

.box-imgs {
    background-color: var(--clr-black);
    display: flex;

    .img-one {
        width: 100%;
    }
}

.flex-main {
    display: flex;
    flex-direction: column;
    align-items: center;


    .img-store {
        height: 3rem;
        margin: 1rem;
    }

    .title {
        font-size: 4rem;
        text-align: center;
        letter-spacing: 1px;
    }

    .btn {
        width: max-content;
        padding: 1rem 3rem;
        margin: 2.6rem 0;
    }
}

.p {
    font-family: var(--font-two);
    text-align: center;
    margin-bottom: 1rem;
}

.span {
    font-family: var(--font-two);
    color: var(--bg-primary);
}

/* Seccion Categoria */

.sections-page {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: .6rem;
    position: relative;
    background-image: url(./images/bg-categorias.png);
    background-size: contain;

    div {
        background-color: rgb(84, 50, 205);
        height: 30rem;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hombre {
        background-image: url(./images/hombre.png);
        position: relative;
    }

    .mujer {
        background-image: url(./images/mujer.png);
        position: relative;
    }

    .boy-girl {
        background-image: url(./images/boy-girl.png);

    }

    .btn {
        position: absolute;
        width: max-content;
        bottom: 2rem;
        margin-left: 2rem;
        padding: .6rem 2.4rem;
    }
}

/* Seccion productos */

.section-products {
    padding: 2rem;

    h2 {
        font-size: 2.4rem;
        font-family: var(--font);
        margin: 2rem 0;
    }

    .conteiner-cards {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: .6rem;
    }

    .card {
        width: max-content;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
    }

    a {
        color: var(--clr-black);
    }

    .flex-shoes {
        border: 1px solid rgba(54, 54, 196, 0.397);
        padding: .4rem .8rem;
        display: flex;
        flex-direction: column;
        border-bottom-right-radius: .6rem;
    }

    .btn {
        margin-top: .6rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: .6rem;
        color: white;
    }

    .shoes {
        width: 100%;
        height: 100%;
        border: 1px solid #11111144;
        border-top-left-radius: .6rem;
        border-bottom: none;
    }

    span {
        color: var(--bg-primary);
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.6rem;

    }

    p {
        font-size: 1.2rem;
    }
}

.box-arrow {
    text-align: center;
    padding: 1rem;

    a {
        text-decoration: none;
        color: var(--clr-black);
    }

    a:hover {
        color: var(--bg-primary);
        transition: .3s ease-in-out;
    }

    i {
        font-size: 2rem;
    }
}

.number-products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    border-radius: 50%;
    height: 1rem;
    font-size: .9rem;
    padding: .4rem .4rem;
    background-color: var(--bg-primary);
    position: absolute;
    top: -12px;
    right: -10px;
}

/* Seccion Cart */

.conteiner-cart {

    padding: 2rem;
    height: 80vh;

    .box-cart {
        margin-top: 1rem;
        width: max-content;
        border: 1px solid rgba(0, 0, 0, 0.37);
        letter-spacing: 1px;
        border-radius: .2rem;
    }

    img {
        width: 6rem;
    }

    .cart {
        display: flex;
        align-items: center;
        gap: 4rem;
        margin: 1rem;
    }

    h3 {
        font-size: 1.6rem;
        margin-right: 1.2rem;
    }

    .btn-cart {
        display: flex;
        justify-content: center;
        border-radius: .2rem;
        margin-top: 1rem;
        border-radius: 0;
        border-bottom-left-radius: .2rem;
        border-bottom-right-radius: .2rem;
    }

}

/* Seccion footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    background-color: var(--clr-black);
}

footer .box {
    display: flex;
    gap: 2rem;
}

footer .box i {
    font-size: 2rem;
    color: var(--clr-grey2);
}

footer .box i:hover {
    cursor: pointer;
    color: white;
    transition: .4s ease-in-out;
}

footer p {
    color: #888888;
    letter-spacing: 1px;
}

/* MEDIA QUERIES */

@media (max-width: 1300px) {

    header {
        padding: 1rem 0;
    }

    .sections-page {
        grid-template-columns: repeat(1, 2fr);

        div {
            background-size: 100%;
            height: 24rem;
        }

        .btn {
            margin-left: 1rem;
        }
    }

    .section-products {

        padding: 1rem;

        .conteiner-cards {
            grid-template-columns: repeat(3, 1fr);
        }

    }

    .conteiner-cart {
        padding: 1rem;
    }
}

@media (max-width: 800px) {

    header {
        padding: 1rem 0;
    }

    /* HEADER HOME */

    header .box {
        width: 3rem;
    }

    header nav {
        display: none;
    }

    /* Seccion inicio de sesion */

    .conteiner {
        padding: 0 1rem;
    }

    .conteiner form {
        width: 100%;
    }

    .conteiner form input {
        width: 100%;
    }

    /* Seccion Main  */

    .nav-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-black);

        nav {
            width: 100%;
            padding: .4rem 1rem;
        }

        nav ul {
            display: flex;
            justify-content: space-between;
        }

        i,
        a {
            font-size: 1.2rem;
            color: var(--clr-grey2);
        }
    }

    .box-imgs {
        .img-one {
            display: none;
        }

        .img-mobile {
            background-image: url(./images/img-mobile.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: 30rem;
            width: 100%;
        }
    }

    .flex-main {
        .btn {
            padding: .7rem 2.4rem;
            margin: 1rem;
        }
    }

    /* Seccion Categoria */

    .sections-page {
        grid-template-columns: repeat(1, 2fr);

        div {
            height: 20rem;
        }
    }

    .section-products {

        padding: 1rem;


        .conteiner-cards {
            grid-template-columns: repeat(1, 1fr);
        }


        img {
            height: 16rem;
        }




        h3 {
            font-size: 1.4rem;
        }
    }

    /* Seccion Cart */

    .conteiner-cart {
        padding: 1rem;

        .box-cart {
            width: 100%;
        }
    }

    /* Seccion footer */

    footer {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    footer .box i {
        font-size: 1.6rem;
    }


}